{% extends 'league/base.html' %}

{% load project_tags %}

{% block title %}{{ competition_full_title }} / {{ block.super }}{% endblock %}
{% block description %}{{ competition_full_title }}. Команды, таблица, календарь матчей, бомбардиры, штрафники.{% endblock %}

{% block breadcrumbs %}
    {% include 'league/competitions/main/_partials/breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        {% include 'league/competitions/_partials/tabs.html' %}

        <!-- Tab panes -->
        <div class="g-py-20 g-min-height-200">
            {% include 'league/competitions/main/_partials/main.html' %}
        </div>
        <!-- End Tab panes -->
    </div>
{% endblock %}