{% load thumbnail %}
{% load league_extras %}

<div class="row">
    <div class="col-lg-12 g-mb-30">
        {% if groups|length == 1 %}
            <h2 class="h5 g-color-black g-font-weight-600">Таблица</h2>
        {% else %}
            <h2 class="h5 g-color-black g-font-weight-600">Таблицы</h2>
        {% endif %}

        <div class="row">
            {% for group in groups %}
                <div class="{% if groups|length > 1 %}col-lg-6{% else %}col-lg-12{% endif %}">
                    {% if groups|length > 1 %}
                        <h3 class="h5 g-mt-20 g-color-black">{{ group.title }}</h3>
                    {% endif %}
                <table class="table table-sm table-bordered table-striped g-mt-20 g-mb-30">
                    <thead>
                    <tr>
                        <th class="text-center"><abbr title="Место">М.</abbr></th>
                        <th>Команда</th>
                        <th class="text-center">Игр</th>
                        <th class="text-center"><abbr title="Выигранных">В.</abbr></th>
                        <th class="text-center"><abbr title="Ничьи">Н.</abbr></th>
                        <th class="text-center"><abbr title="Проигранных">П.</abbr></th>
                        <th class="text-center"><abbr title="Голы забитые - голы пропущенные">Г.</abbr></th>
                        <th class="text-center">Очков</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in group.get_sorted_table %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>
                                {% if team.logo %}
                                    <a href="{% url 'team_detail' pk=team.id %}"><img src="{{ team.logo|thumbnail_url:'team_small' }}"
                                                     alt="{{ team.title }}"></a>
                                {% else %}
                                    <a href="{% url 'team_detail' pk=team.id %}"><img src="//via.placeholder.com/45?text=No+image" alt=""></a>
                                {% endif %}
                                &nbsp;<a href="{% url 'team_detail' pk=team.id %}" class="g-font-weight-600">{{ team.title }} <span class="g-color-gray-dark-v4 g-font-size-12">{{ team.city|default_if_none:"" }}</span></a>
                            </td>
                            <td class="text-center">{{ team.games }}</td>
                            <td class="text-center">{{ team.wins }}</td>
                            <td class="text-center">{{ team.draws }}</td>
                            <td class="text-center">{{ team.defeats }}</td>
                            <td class="text-center">{{ team.goals_scored }} - {{ team.goals_missed }}</td>
                            <td class="text-center">{{ team.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% endfor %}
        </div>
    </div>
</div>