<div class="row">
    <div class="col-lg-12 g-mb-30">

        <h2 class="h5 g-mb-20">Бомбардиры турнира</h2>

        {% if bombardiers|length > 0 %}
            <!-- Basic Table -->
            <div class="table-responsive g-mb-30">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center">ФИО игрока</th>
                        <th class="text-center">Команда</th>
                        <th class="text-center">Количество забитых голов</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for player in bombardiers %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="text-center">
                                <a class="g-color-blue-dark-v1"
                                   href="{% url 'player_detail' pk=player.player__pk %}">{{ player.player__name }}</a>
                            </td>
                            <td class="text-center">
                                <a class="g-color-blue-dark-v1"
                                   href="{% url 'team_detail' pk=player.team__pk %}">{{ player.team__title }}</a>
                            </td>
                            <td class="g-font-weight-600 text-center">
                                {{ player.num_goals }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- End Basic Table -->
        {% else %}
            <p>Нет данных.</p>
        {% endif %}
    </div>
</div>