{% load thumbnail %}
{% load league_extras %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="h3">Календарь игр</h2>
    </div>

    {% if playoff_rounds|length > 0 or groups|length > 0 %}
        {% for group in groups %}
            <div class="col-lg-12 g-mt-20">
                <h3 class="h4">{{ group.title }}</h3>
            </div>

            {% for round in group.get_rounds %}
                <div class="col-lg-6">
                    <table class="table table-sm g-mt-20 g-mb-20">
                        <tbody>
                        <tr class="thead-default">
                            <th colspan="4">{{ round.title }}</th>
                        </tr>
                        {% get_matches_in_group round group as matches %}
                        {% for match in matches %}
                            {% match_tr match=match %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endfor %}

        {% if playoff_rounds|length > 0 and groups|length > 0 %}
            <div class="col-lg-12">
                <h3 class="h4">Плейофф</h3>
            </div>
        {% endif %}
        {% for round in playoff_rounds %}
            <div class="col-lg-12">
                <table class="table table-sm g-mt-20 g-mb-20">
                    <tbody>
                    <tr class="thead-default">
                        <th colspan="4">{{ round.title }}</th>
                    </tr>
                    {% for match in round.match_set.all %}
                        {% match_tr match=match %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-lg-12">
            <p>Нет данных.</p>
        </div>
    {% endif %}
</div>