{% load thumbnail %}
{% load league_extras %}

<tr>
    <td class="text-center" width="20%">{{ match.match_date }}</td>
    <td class="text-right" width="35%">
        <div class="row no-gutters">
            <div class="col-10">
                <a href="{% url 'team_detail' pk=match.team_1__pk %}">{{ match.team_1__title }}</a>
            </div>
            <div class="col-2">
                {% if match.team_1__logo %}
                    <a href="{% url 'team_detail' pk=match.team_1__pk %}"><img
                            src="{{ match.team_1__logo|thumbnail_url:'team_extra_small' }}"
                            alt="{{ match.team_1__title }}"></a>
                {% else %}
                    <a href="{% url 'team_detail' pk=match.team_1__pk %}"><img src="//via.placeholder.com/18?text=No+image"
                                     alt=""></a>
                {% endif %}
            </div>
        </div>
    </td>
    <td class="text-center" width="10%"><a href="{% url 'match_detail' pk=match.pk %}">{% get_match_score match.pk %}</a></td>
    <td class="text-left" width="35%">
        <div class="row no-gutters">
            <div class="col-2">
                {% if match.team_2.logo %}
                    <a href="{% url 'team_detail' pk=match.team_2__pk %}"><img
                            src="{{ match.team_2__logo|thumbnail_url:'team_extra_small' }}"
                            alt="{{ match.team_2__title }}"></a>
                {% else %}
                    <a href="{% url 'team_detail' pk=match.team_2__pk %}"><img src="//via.placeholder.com/18?text=No+image"
                                     alt=""></a>
                {% endif %}
            </div>
            <div class="col-10">
                <a href="{% url 'team_detail' pk=match.team_2__pk %}">{{ match.team_2__title }}</a>
            </div>
        </div>
    </td>
</tr>
