{% load thumbnail %}
<tr>
    <td class="text-center" width="10%" data-toggle="tooltip" data-original-title="{{ match.match_date|date }}">{{ match.match_date|time }}</td>
    <td class="text-right" width="40%">
        <div class="row no-gutters">
            <div class="col-10">
                <a href="{% url 'team_detail' pk=match.team_1.pk %}">{{ match.team_1 }}</a>
            </div>
            <div class="col-2">
                {% if match.team_1.logo %}
                    <a href="{% url 'team_detail' pk=match.team_1.pk %}"><img
                            src="{{ match.team_1.logo|thumbnail_url:'team_extra_small' }}"
                            alt="{{ match.team_1.title }}"></a>
                {% else %}
                    <a href="{% url 'team_detail' pk=match.team_1.pk %}"><img src="//via.placeholder.com/18?text=No+image"
                                     alt=""></a>
                {% endif %}
            </div>
        </div>
    </td>
    <td class="text-center" width="10%"><a href="{% url 'match_detail' pk=match.pk %}">{{ match.get_score }}</a></td>
    <td class="text-left" width="40%">
        <div class="row no-gutters">
            <div class="col-2">
                {% if match.team_2.logo %}
                    <a href="{% url 'team_detail' pk=match.team_2.pk %}"><img
                            src="{{ match.team_2.logo|thumbnail_url:'team_extra_small' }}"
                            alt="{{ match.team_2.title }}"></a>
                {% else %}
                    <a href="{% url 'team_detail' pk=match.team_2.pk %}"><img src="//via.placeholder.com/18?text=No+image"
                                     alt=""></a>
                {% endif %}
            </div>
            <div class="col-10">
                <a href="{% url 'team_detail' pk=match.team_2.pk %}">{{ match.team_2 }}</a>
            </div>
        </div>
    </td>
</tr>
