<h2 class="text-uppercase h3">Последние новости</h2>
<hr class="g-mt-0 g-mb-1 g-brd-black-top u-mb-025">

<div class="row g-mt-15">
    {% if last_news.count > 0 %}
        <div class="col-lg-4">
            {% if last_news.0.image %}
                <a href="{% url 'news_detail' pk=last_news.0.pk %}"><img src="{{ last_news.0.image.url }}"
                                                                         class="img-fluid"></a>
            {% endif %}
            <div class="g-mt-10">
                <a href="{% url 'news_detail' pk=last_news.0.pk %}"
                   class="text-uppercase g-font-size-15">{{ last_news.0.title }}</a>
            </div>

            <div class="g-mt-5">
                <small class="text-muted">Дата: {{ last_news.0.created_at|date }} / Комментариев: 0</small>
            </div>

            <div class="g-mt-5">
                <p>{{ last_news.0.text|striptags|truncatewords:15 }}</p>
            </div>
        </div>

        <div class="col-lg-8">
            {% for news in last_news|slice:"1:" %}
                <div class="row g-mb-15">
                    {% if news.image %}
                        <div class="col-lg-4"><a href="{% url 'news_detail' pk=news.pk %}"><img
                                src="{{ news.image.url }}"
                                class="img-fluid"></a></div>
                    {% endif %}
                    <div class="col-lg-8">
                        <a href="{% url 'news_detail' pk=news.pk %}"
                           class="text-uppercase g-font-size-15">{{ news.title }}</a>

                        <div class="g-mt-5">
                            <small class="text-muted">Дата: {{ news.created_at|date }} / Комментариев: 0</small>
                        </div>

                        <div class="g-mt-5">
                            <p>{{ news.text|striptags|truncatewords:15 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>