<h2 class="text-uppercase h3">Последние новости</h2>
<hr class="g-mt-0 g-mb-1 g-brd-black-top u-mb-025">

<div class="row g-mt-15">
    <div class="col-lg-4">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x225"
                                               class="img-fluid"></a>
        <div class="g-mt-10">
            <a href="#" class="text-uppercase g-font-size-15">Дорогие друзья, консультация с профессионалами из ИТ</a>
        </div>

        <div class="g-mt-5">
            <small class="text-muted">Дата: 30.10.17 / Комментариев: 0</small>
        </div>

        <div class="g-mt-5">
            <p>Уловите свое руки мощные вдохновениев кладывает в ваши творческие инструменты, которые
                всегда
                обеспечивают абсолютный, полный контроль над текстом. их помощью вы любым элементам
                тени.</p>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="row g-mb-15">
            <div class="col-lg-4"><a href="https://placeholder.com"><img
                    src="http://via.placeholder.com/350x225"
                    class="img-fluid"></a></div>
            <div class="col-lg-8">
                <a href="#" class="text-uppercase g-font-size-15">Дорогие друзья, консультация с профессионалами из ИТ</a>

                <div class="g-mt-5">
                    <small class="text-muted">Дата: 30.10.17 / Комментариев: 0</small>
                </div>

                <div class="g-mt-5">
                    <p>Уловите свое руки мощные вдохновениев кладывает в ваши творческие инструменты,
                        которые всегда обеспечивают абсолютный, полный контроль над текстом, их...</p>
                </div>
            </div>
        </div>

        <div class="row g-mb-15">
            <div class="col-lg-4"><a href="https://placeholder.com"><img
                    src="http://via.placeholder.com/350x225"
                    class="img-fluid"></a></div>
            <div class="col-lg-8">
                <a href="#" class="text-uppercase g-font-size-15">Дорогие друзья, консультация с профессионалами из ИТ</a>

                <div class="g-mt-5">
                    <small class="text-muted">Дата: 30.10.17 / Комментариев: 0</small>
                </div>

                <div class="g-mt-5">
                    <p>Уловите свое руки мощные вдохновениев кладывает в ваши творческие инструменты,
                        которые всегда обеспечивают абсолютный, полный контроль над текстом, их...</p>
                </div>
            </div>
        </div>

        <div class="row g-mb-15">
            <div class="col-lg-4"><a href="https://placeholder.com"><img
                    src="http://via.placeholder.com/350x225"
                    class="img-fluid"></a></div>
            <div class="col-lg-8">
                <a href="#" class="text-uppercase g-font-size-15">Дорогие друзья, консультация с профессионалами из ИТ</a>

                <div class="g-mt-5">
                    <small class="text-muted">Дата: 30.10.17 / Комментариев: 0</small>
                </div>

                <div class="g-mt-5">
                    <p>Уловите свое руки мощные вдохновениев кладывает в ваши творческие инструменты,
                        которые всегда обеспечивают абсолютный, полный контроль над текстом, их...</p>
                </div>
            </div>
        </div>
    </div>
</div>