<h2 class="text-uppercase h3">Видеогалерея</h2>
<hr class="g-mt-0 g-mb-1 g-brd-black-top u-mb-025">

<div class="row g-mt-20">
    {% if last_videos.count > 0 %}
        {% with last_videos.0 as first_video %}
            <div class="col-md-8">
                <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-30 g-mb-0--md"
                   data-fancybox-gallery="lightbox-gallery--05" href="http://www.youtube.com/embed/{{ first_video.youtube_id }}?autoplay=1"
                   title="Смотреть">
                    <img class="img-fluid"
                         src="//img.youtube.com/vi/{{ first_video.youtube_id }}/maxresdefault.jpg"
                         alt="{{ first_video.title }}">

                    <span class="u-bg-overlay__inner g-font-size-18 g-color-white g-pos-abs g-left-20 g-bottom-40">
                        {{ first_video.title }}
                    </span>

                    <span class="u-bg-overlay__inner g-font-size-12 g-color-gray-light-v3 g-pos-abs g-left-20 g-bottom-20">
                        {{ first_video.created_at|date }}
                    </span>
                </a>
            </div>
        {% endwith %}

        <div class="col-md-4">
            {% for video in last_videos|slice:"1:" %}
                <a class="js-fancybox d-block u-bg-overlay g-bg-black-opacity-0_5--after g-mb-20"
                   data-fancybox-gallery="lightbox-gallery--05" href="http://www.youtube.com/embed/{{ video.youtube_id }}?autoplay=1"
                   title="Смотреть">
                    <img class="img-fluid" src="//img.youtube.com/vi/{{ video.youtube_id }}/mqdefault.jpg"
                             alt="{{ video.title }}">

                    <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-20">
                        {{ video.title }}
                    </span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>

<div class="row g-my-20">
    <div class="col-lg-12 text-center">
        <a href="{% url 'videos_list' %}" class="btn btn-lg u-btn-outline-deeporange">Все видеозаписи</a>
    </div>
</div>