Django==1.11.7
django-ckeditor==5.3.1
django-debug-toolbar==1.8
django-goodforms==0.2.1
django-js-asset==0.1.1
easy-thumbnails==2.5
htmlutils==0.1.2
olefile==0.44
packaging==16.8
Pillow==4.3.0
psycopg2==2.7.3.2
pyparsing==2.2.0
pytz==2017.3
selenium==3.7.0
singlemodeladmin==0.8
six==1.11.0
sqlparse==0.2.4
