{% extends 'base.html' %}

{% load project_tags %}

{% block title %}{{ tournament }} / {{ block.super }}{% endblock %}
{% block description %}Страница турнира {{ tournament }}. Команды, таблица, календарь матчей, бомбардиры, штрафники.{% endblock %}

{% block breadcrumbs %}
    {% include 'league/tournaments/detail/_partial/breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <!-- Nav tabs -->
        <ul class="nav u-nav-v4-1 u-nav-dark" role="tablist" data-target="nav-4-1-default-hor-left"
            data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-darkgray">
            <li class="nav-item">
                <a class="nav-link active g-font-weight-600" data-toggle="tab" href="#nav-4-1-default-hor-left--1" role="tab">Главная</a>
            </li>
            {% if tournament.group_set.count > 0 %}
            <li class="nav-item">
                <a class="nav-link g-font-weight-600" data-toggle="tab" href="#nav-4-1-default-hor-left--2" role="tab">Таблица</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link g-font-weight-600" data-toggle="tab" href="#nav-4-1-default-hor-left--3" role="tab">Календарь</a>
            </li>
            <li class="nav-item">
                <a class="nav-link g-font-weight-600" data-toggle="tab" href="#nav-4-1-default-hor-left--4" role="tab">Бомбардиры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link g-font-weight-600" data-toggle="tab" href="#nav-4-1-default-hor-left--5" role="tab">Ассистенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link g-font-weight-600" data-toggle="tab" href="#nav-4-1-default-hor-left--6" role="tab">Карточки</a>
            </li>
        </ul>
        <!-- End Nav tabs -->

        <!-- Tab panes -->
        <div id="nav-4-1-default-hor-left" class="tab-content g-pt-20 g-min-height-200">
            <div class="tab-pane fade show active" id="nav-4-1-default-hor-left--1" role="tabpanel">
                {% include 'league/tournaments/detail/_partial/main.html' %}
            </div>
            <div class="tab-pane fade" id="nav-4-1-default-hor-left--2" role="tabpanel">
                {% include 'league/tournaments/detail/_partial/table.html' %}
            </div>
            <div class="tab-pane fade" id="nav-4-1-default-hor-left--3" role="tabpanel">
                {% include 'league/tournaments/detail/_partial/calendar.html' %}
            </div>
            <div class="tab-pane fade" id="nav-4-1-default-hor-left--4" role="tabpanel">
                {% include 'league/tournaments/detail/_partial/bombardiers.html' %}
            </div>
            <div class="tab-pane fade" id="nav-4-1-default-hor-left--5" role="tabpanel">
                {% include 'league/tournaments/detail/_partial/assistants.html' %}
            </div>
            <div class="tab-pane fade" id="nav-4-1-default-hor-left--6" role="tabpanel">
                {% include 'league/tournaments/detail/_partial/penalties.html' %}
            </div>
        </div>
        <!-- End Tab panes -->
    </div>

    <div class="col-lg-12">
        {% comments_widget identifier='tournaments' identifier_id=tournament.pk %}
    </div>
{% endblock %}