{% load thumbnail %}
{% load league_extras %}

{% if tournament.description %}
    <div class="row">
        <div class="col-lg-12 g-mb-10">
            {{ tournament.description|safe }}
        </div>
    </div>
{% endif %}

<div class="row">
    {% if groups|length > 0 %}
        <div class="col-lg-4">
            {% if groups|length == 1 %}
                <h2 class="h5 g-color-black">Таблица</h2>
            {% else %}
                <h2 class="h5 g-color-black">Таблицы</h2>
            {% endif %}

            {% for group in groups %}
                {% if groups|length > 1 %}
                    <h3 class="h5 g-mt-20">{{ group.title }}</h3>
                {% endif %}

                <table class="table table-sm table-bordered g-mt-10 g-mb-30">
                    <thead>
                    <tr>
                        <th><abbr title="Место">М.</abbr></th>
                        <th>Команда</th>
                        <th class="text-center"><abbr title="Игр">И.</abbr></th>
                        <th class="text-center"><abbr title="Очков">О.</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in group.get_sorted_table %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                {% if team.logo %}
                                    <a href="#"><img src="{{ team.logo|thumbnail_url:'team_extra_small' }}"
                                                     alt="{{ team.title }}"></a>
                                {% else %}
                                    <a href="#"><img src="//via.placeholder.com/18?text=No+image" alt=""></a>
                                {% endif %}
                                &nbsp;<a href="{% url 'team_detail' pk=team.id %}">{{ team.title }}</a>
                            </td>
                            <td class="text-center">{{ team.games }}</td>
                            <td class="text-center">{{ team.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
        <div class="col-lg-8">
    {% else %}
        <div class="col-lg-12">
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h5 g-color-black g-mb-20">Последние матчи</h2>

            {% if playoff_last_rounds|length > 0 %}
                <table class="table table-sm g-mt-10 g-mb-30">
                    <tbody>
                    {% for round in playoff_last_rounds %}
                        <tr class="thead-default">
                            <th colspan="4">{{ round.title }}</th>
                        </tr>
                        {% for match in round.get_last_matches %}
                            {% match_tr match=match %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% for group in groups %}
                {% if group.get_last_rounds|length > 0 %}
                    {% if groups|length > 1 %}
                        <h3 class="h5 g-mt-10">{{ group.title }}</h3>
                    {% endif %}

                    <table class="table table-sm g-my-10">
                        <tbody>
                        {% for round in group.get_last_rounds %}
                            <tr class="thead-default">
                                <th colspan="4">{{ round.title }}</th>
                            </tr>

                            {% get_last_matches_in_group round group as last_matches %}
                            {% for match in last_matches %}
                                {% match_tr match=match %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-lg-12">
            <h2 class="h5 g-color-black g-mb-20 g-mt-20">Ближайшие матчи</h2>

            {% if playoff_future_rounds|length > 0 %}
                <table class="table table-sm g-mt-20 g-mb-30">
                    <tbody>
                    {% for round in playoff_future_rounds %}
                        <tr class="thead-default">
                            <th colspan="4">{{ round.title }}</th>
                        </tr>
                        {% for match in round.get_future_matches %}
                            {% match_tr match=match %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% for group in groups %}
                {% if group.get_future_rounds|length > 0 %}

                    {% if groups|length > 1 %}
                        <h3 class="h5 g-mt-20">{{ group.title }}</h3>
                    {% endif %}

                    <table class="table table-sm g-mt-20 g-mb-30">
                        <tbody>
                        {% for round in group.get_future_rounds %}
                            <tr class="thead-default">
                                <th colspan="4">{{ round.title }}</th>
                            </tr>

                            {% get_future_matches_in_group round group as future_matches %}
                            {% for match in future_matches %}
                                {% match_tr match=match %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
</div>