{% load thumbnail %}
{% load league_extras %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="h5 g-color-black">Календарь игр</h2>
    </div>

    {% if res.playoff_rounds|length > 0 or res.groups|length > 0 %}
        {% for group in res.groups %}
            {% if res.groups|length > 1 %}
                <div class="col-lg-12 g-mt-20">
                    <h3 class="h5 g-color-black">{{ group.title }}</h3>
                </div>
            {% endif %}

            {% for round in group.rounds %}
                <div class="{% if group.rounds|length > 1 %}col-lg-6{% else %}col-lg-12{% endif %}">
                    <table class="table table-sm g-mt-10 g-mb-20">
                        <tbody>
                        <tr class="thead-default">
                            <th colspan="4">{{ round.title }}</th>
                        </tr>
                        {% for match in round.matches %}
                            {% match_tr match=match %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endfor %}

        {% if res.playoff_rounds|length > 0 %}
            <div class="col-lg-12">
                <h3 class="h5 g-color-black">Плейофф</h3>
            </div>
        {% endif %}
        {% for round in res.playoff_rounds %}
            <div class="col-lg-12">
                <table class="table table-sm g-mt-10 g-mb-20">
                    <tbody>
                    <tr class="thead-default">
                        <th colspan="4">{{ round.title }}</th>
                    </tr>
                    {% for match in round.matches %}
                        {% match_tr match=match %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-lg-12">
            <p>Нет данных.</p>
        </div>
    {% endif %}
</div>