{% load staticfiles %}

<div class="row">
    <div class="col-lg-12">
        <h2 class="text-uppercase">Зимний чемпионат</h2>
        <hr class="under-h2">
    </div>

    <div class="col-lg-6">
        <h5 class="text-uppercase">Результаты прошедших матчей</h5>
        <div class="matches">
            <table class="table table-sm table-afl">
                <tbody>
                <tr>
                    <th colspan="4">4 марта 2017, суббота. 17 Тур</th>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">6:0</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">6:0</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">6:0</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">6:0</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">6:0</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">6:0</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">6:0</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">6:0</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <h5 class="text-uppercase">Расписание будущих матчей</h5>
        <div class="matches">
            <table class="table table-sm table-afl">
                <tbody>
                <tr>
                    <th colspan="4">4 марта 2017, суббота. 17 Тур</th>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">-:-</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">-:-</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">-:-</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">-:-</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">-:-</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">-:-</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">-:-</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                <tr>
                    <td>19:00</td>
                    <td><a href="#">Скиф</a></td>
                    <td><a href="#">-:-</a></td>
                    <td><a href="#">Фурия</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>