<h2 class="text-uppercase">Последние новости</h2>
<hr class="under-h2">

<div class="row mt-3">
    <div class="col-lg-4">
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/350x225"
                                               class="img-fluid"></a>
        <div class="mt-2">
            <a href="#" class="title">Дорогие друзья, консультация с профессионалами из ИТ</a>
        </div>

        <div class="mt-1">
            <small class="text-muted">Дата: 30.10.17 / Комментариев: 0</small>
        </div>

        <div class="mt-1">
            <p>Уловите свое руки мощные вдохновениев кладывает в ваши творческие инструменты, которые
                всегда
                обеспечивают абсолютный, полный контроль над текстом. их помощью вы любым элементам
                тени.</p>
        </div>
    </div>

    <div class="col-lg-8">
        <div class="row mb-3">
            <div class="col-lg-4"><a href="https://placeholder.com"><img
                    src="http://via.placeholder.com/350x225"
                    class="img-fluid"></a></div>
            <div class="col-lg-8">
                <a href="#" class="title">Дорогие друзья, консультация с профессионалами</a>

                <div class="mt-1">
                    <small class="text-muted">Дата: 30.10.17 / Комментариев: 0</small>
                </div>

                <div class="mt-1">
                    <p>Уловите свое руки мощные вдохновениев кладывает в ваши творческие инструменты,
                        которые всегда обеспечивают абсолютный, полный контроль над текстом, их...</p>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-lg-4"><a href="https://placeholder.com"><img
                    src="http://via.placeholder.com/350x225"
                    class="img-fluid"></a></div>
            <div class="col-lg-8">
                <a href="#" class="title">Дорогие друзья, консультация с профессионалами</a>

                <div class="mt-1">
                    <small class="text-muted">Дата: 30.10.17 / Комментариев: 0</small>
                </div>

                <div class="mb-1">
                    <p>Уловите свое руки мощные вдохновениев кладывает в ваши творческие инструменты,
                        которые всегда обеспечивают абсолютный, полный контроль над текстом, их...</p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-4"><a href="https://placeholder.com"><img
                    src="http://via.placeholder.com/350x225"
                    class="img-fluid"></a></div>
            <div class="col-lg-8">
                <a href="#" class="title">Дорогие друзья, консультация с профессионалами</a>

                <div class="mt-1">
                    <small class="text-muted">Дата: 30.10.17 / Комментариев: 0</small>
                </div>

                <div class="mt-1">
                    <p>Уловите свое руки мощные вдохновениев кладывает в ваши творческие инструменты,
                        которые всегда обеспечивают абсолютный, полный контроль над текстом, их...</p>
                </div>
            </div>
        </div>
    </div>
</div>