{% extends 'base.html' %}

{% load thumbnail %}
{% load staticfiles %}

{% block title %}{{ player }} / {{ player.team }} / {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include 'league/players/_partial/breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <div class="col-md-3 g-mb-30">
        {% if player.photo %}
            <img src="{{ player.photo.url }}" class="img-fluid" alt="{{ player.name }}" title="{{ player.name }}">
        {% else %}
            <img src="{% static 'assets/img/persons/dummy-person.jpg' %}" class="img-fluid" alt="">
        {% endif %}
    </div>
    <div class="col-md-9 g-mb-30">
        <dl class="row">
            <dt class="col-sm-3">Имя игрока</dt>
            <dd class="col-sm-9">{{ player.name }}</dd>

            <dt class="col-sm-3">Дата рождения</dt>
            <dd class="col-sm-9">{{ player.birth_date|default_if_none:"Нет данных" }}</dd>

            <dt class="col-sm-3">Текущая команда</dt>
            <dd class="col-sm-9"><a href="{% url 'team_detail' pk=player.team.pk %}">{{ player.team }}</a></dd>
        </dl>

        {{ player.biography|safe }}
    </div>
{% endblock %}