<div class="container">
    <section class="g-bg-gray-light-v5 g-py-20 g-px-30 g-mb-30">
        <div class="d-sm-flex text-center">
            <div class="align-self-center">
                <h1 class="h2 g-font-weight-300 w-100 g-mb-10 g-mb-0--md g-font-size-22">{{ competition_full_title }}</h1>
            </div>

            <div class="align-self-center ml-auto">
                <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-5">
                        <a class="u-link-v5 g-color-main" href="/">Главная</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                        <a class="u-link-v5 g-color-main" href="{% url 'competitions_list' %}">Список соревнований</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                        <a class="u-link-v5 g-color-main" href="{% url 'competition_main' competition.pk %}">{{ competition.title }}</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                        <span>Карточки</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>