{% load thumbnail %}

<div id="nav-1-1-default-hor-left" class="tab-content">
    {% for competition in competitions %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
             id="nav-1-1-default-hor-left--{{ forloop.counter }}"
             role="tabpanel">

            <div class="table-responsive">
                <table class="table table-sm table-striped table-bordered g-my-30">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        <th>Возраст</th>
                        <th>Позиция</th>
                        <th class="g-width-3 g-nowrap">Игр сыграно</th>
                        <th class="text-center"><i class="fa fa-futbol-o" title="" data-toggle="tooltip" data-original-title="Голов"></i></th>
                        <th class="text-center"><span class="u-label g-bg-yellow g-px-5 g-py-2"
                                  data-toggle="tooltip"
                                  data-original-title="Желтые карточки">&nbsp;</span></th>
                        <th class="text-center"><span class="u-label g-bg-red g-px-5 g-py-2"
                                  data-toggle="tooltip"
                                  data-original-title="Красные карточки">&nbsp;</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in competition.application %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="g-font-weight-600"><a href="{% url 'player_detail' pk=player.pk %}">{{ player.name }}</a></td>
                            <td>{{ player.age }}</td>
                            <td>{{ player.position|default_if_none:"" }}</td>
                            <td class="text-center">{{ player.games }}</td>
                            <td class="text-center">{{ player.goals }}</td>
                            <td class="text-center">{{ player.yellow_cards }}</td>
                            <td class="text-center">{{ player.red_cards }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
</div>