{% load form_fields %}

{% form name="contact" method="post" %}
    <div class="row">
        <div class="col-md-6 form-group g-mb-20 {% if form.first_name.errors %}has-danger{% endif %}">
            {% label form.first_name class="g-color-gray-dark-v2 g-font-size-13" %}
            {% textfield form.first_name placeholder="Имя" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-primary--focus rounded-3 g-py-13 g-px-15" %}
            {% if form.first_name.errors %}
                <div class="form-control-feedback">
                    {% for error in form.first_name.errors %}
                        {{ error|escape }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="col-md-6 form-group g-mb-20 {% if form.last_name.errors %}has-danger{% endif %}">
            {% label form.last_name class="g-color-gray-dark-v2 g-font-size-13" %}
            {% textfield form.last_name placeholder="Фамилия" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-primary--focus rounded-3 g-py-13 g-px-15" %}
            {% if form.last_name.errors %}
                <div class="form-control-feedback">
                    {% for error in form.last_name.errors %}
                        {{ error|escape }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="g-mb-20 {% if form.email.errors %}has-danger{% endif %}">
        {% label form.email class="g-color-gray-dark-v2 g-font-size-13" %}
        {% textfield form.email placeholder="E-Mail" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-primary--focus rounded-3 g-py-13 g-px-15" %}
        {% if form.email.errors %}
            <div class="form-control-feedback">
                {% for error in form.email.errors %}
                    {{ error|escape }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="g-mb-20 {% if form.phone.errors %}has-danger{% endif %}">
        {% label form.phone class="g-color-gray-dark-v2 g-font-size-13" %}
        {% textfield form.phone placeholder="Номер телефона" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-primary--focus rounded-3 g-py-13 g-px-15" %}
        {% if form.phone.errors %}
            <div class="form-control-feedback">
                {% for error in form.phone.errors %}
                    {{ error|escape }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="g-mb-20 {% if form.message.errors %}has-danger{% endif %}">
        {% label form.message class="g-color-gray-dark-v2 g-font-size-13" %}
        {% textarea form.message rows="12" placeholder="Текст сообщения" class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15" %}
        {% if form.message.errors %}
            <div class="form-control-feedback">
                {% for error in form.message.errors %}
                    {{ error|escape }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="g-mb-40 {% if form.captcha.errors %}has-danger{% endif %}">
        {% label form.captcha class="g-color-gray-dark-v2 g-font-size-13" %}
        <br>
        {{ form.captcha }}
        <a href="#" class="d-block g-color-blue g-font-size-12 js-captcha-refresh"><i class="fa fa-refresh" aria-hidden="true"></i> Обновить</a>
        {% if form.captcha.errors %}
            <div class="form-control-feedback">
                {% for error in form.captcha.errors %}
                    {{ error|escape }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {{ form.hidden }}
    {{ form.hidden_changed }}

    <div class="g-mb-40 text-center">
        {% submit_button "Отправить" class="btn u-btn-indigo g-font-weight-600 g-font-size-13 text-uppercase rounded-3 g-py-12 g-px-35" %}
    </div>
{% endform %}