{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Фотогалереи {% if request.GET.page %}/ Страница {{ request.GET.page }} {% endif %}/ {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {% include 'photogallery/_partial/breadcrumbs_galleries.html' %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="row text-center">
            {% for gallery in gallery_list %}
                <div class="col-md-4 g-mb-30">
                    <a class="d-block u-block-hover u-bg-overlay u-bg-overlay--v1 g-bg-black-opacity-0_5--after"
                       href="{% url 'photos_list' pk=gallery.pk %}" title="{{ gallery }}"
                       data-fancybox-gallery="lightbox-gallery-13-1-hidden">
                        {% if gallery.photo_set.all.count > 0 %}
                            <img class="img-fluid u-block-hover__main--zoom-v1"
                                 src="{{ gallery.photo_set.all.0.image.gallery_item_small.url }}"
                                 alt="{{ gallery }}">
                        {% else %}
                            <img class="img-fluid u-block-hover__main--zoom-v1"
                                 src="http://via.placeholder.com/400x270?text=No+image"
                                 alt="{{ gallery }}">
                        {% endif %}



                        <span class="u-bg-overlay__inner g-color-white g-pos-abs g-left-20 g-bottom-40">
                            {{ gallery }}
                        </span>

                        <span class="u-bg-overlay__inner g-font-size-11 g-color-gray-light-v3 g-pos-abs g-left-20 g-bottom-20">
                            {{ gallery.created_at|date }}
                        </span>
                    </a>
                </div>
            {% endfor %}

            {% if is_paginated %}
                <div class="col-lg-12 g-mt-10">
                    {% include 'photogallery/_partial/pagination.html' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}