{% extends 'base.html' %}

{% load static %}
{% load home_extras %}
{% load project_tags %}

{% block title %}Главная / {{ block.super }}{% endblock %}
{% block description %}Аланская футбольная лига. АФЛ: результаты матчей, расписание игр, турнирная таблица Аланской футбольной лиги.{% endblock %}

{% block content %}
    <!-- News -->
    <div class="col-lg-12" id="latest_news">
        {% include 'home/_partial/news.html' %}
    </div>
    <!-- End News -->

    {% banner pk=1 as banner_1 %}
    {% if banner_1 %}
        <!-- Banner -->
        <div class="col-lg-12 g-mt-15" id="banner_1">
            {% if banner_1.link %}
                <a href="{{ banner_1.link }}" target="_blank"><img src="{{ banner_1.image.url }}" class="img-fluid"
                                                                   alt=""></a>
            {% else %}
                <img src="{{ banner_1.image.url }}" class="img-fluid" alt="">
            {% endif %}
        </div>
        <!-- End Banner -->
    {% endif %}

    {% for competition in competitions %}
        <!-- Matches -->
        <div class="col-lg-12 {% if forloop.counter0 == 0 %}g-mt-40{% else %}g-my-30{% endif %}"
             id="matches_latest_tournament">
            {% matches_block competition=competition %}
        </div>
        <!-- End Matches -->
    {% endfor %}

    <!-- Video gallery -->
    <div class="col-lg-12 g-mt-15 video-gallery" id="video_gallery">
        {% include 'home/_partial/video_gallery.html' %}
    </div>
    <!-- End Video gallery -->
{% endblock %}

{% block extra_scripts %}
    <script id="dsq-count-scr" src="{% settings_value "DISQUS_COUNT_SCRIPT" %}" async></script>
    <script>
        $(document).on('ready', function () {
            DISQUSWIDGETS.getCount({reset: true});
        });
    </script>
{% endblock %}