{% extends 'league/base.html' %}

{% load project_tags %}

{% block title %}{{ competition_full_title }}. Таблица / {{ block.super }}{% endblock %}
{% block description %}Таблица соревнования {{ competition_full_title }}.{% endblock %}

{% block breadcrumbs %}
    {% include 'league/competitions/table/_partials/breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        {% include 'league/competitions/_partials/tabs.html' %}

        <!-- Tab panes -->
        <div class="g-py-20 g-min-height-200">
            {% include 'league/competitions/table/_partials/table.html' %}
        </div>
        <!-- End Tab panes -->
    </div>
{% endblock %}