{% extends "admin/change_form.html" %}

{% block form_top %}
    {% if not change %}
        <p>Сначала введите основные данные. Затем вы сможете ввести больше информации об объекте.</p>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    {%  if 'match' in request.get_full_path %}
        <script type="text/javascript" charset="utf-8">
            django.jQuery(function () {
                const $ = django.jQuery;

                {% if change %}
                    {# Изменение матча #}

                    // "Кеш" заявок команд
                    let teamAppsCache = {};

                    // Заполнение элемента игроками выбранной команды
                    async function setPlayers($playersSelect) {
                        $playersSelect.prop("disabled", "disabled");

                        // Текущее значение поля игрока
                        const playerVal = $playersSelect.val();

                        // Поле команды
                        const $teamSelect = $playersSelect.parents(
                            '.dynamic-matchlineup_set, .dynamic-event_set'
                        ).find(".field-team select");

                        const teamId = $teamSelect.val();

                        if (teamId) {
                            if (teamAppsCache[teamId] === undefined) {
                                const param = "?team_id=" + teamId + "&competition_id=" + {{ original.competition.id }};

                                // Получение игроков заявки команды на турнир
                                await $.getJSON("/league/get-players-competition/" + param, function (data) {
                                    let options = '<option value="">---------</option>';
                                    for (let i = 0; i < data.length; i++) {
                                        options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                                    }
                                    // Добавление игроков команды в "кеш"
                                    teamAppsCache[teamId] = options;
                                });
                            }

                            $playersSelect.html(teamAppsCache[teamId]);

                            // Присваивание текущего значения игрока
                            if (playerVal) {
                                $playersSelect.val(playerVal);
                            }

                            $playersSelect.prop("disabled", false);
                        }
                    }

                    // Начальная фильтрация игроков в inline блоках
                    (async function initializePlayers() {
                        for (const obj of $("#event_set-group .field-player select," +
                            "#matchlineup_set-group .field-player select," +
                            "#event_set-group .field-player_assigned select")) {
                            const $playersSelect = $(obj);
                            await setPlayers($playersSelect);
                        }
                    })();

                    // Фильтрация игроков при смене команды в inline
                    $(document).on('change', ".field-team select", async function () {
                        const $this = $(this);
                        const $playersSelect = $this.parents(
                            '.dynamic-matchlineup_set, .dynamic-event_set'
                        ).find(".field-player select, .field-player_assigned select");

                        $playersSelect.prop("disabled", "disabled");

                        let options = '<option value="">---------</option>';

                        const teamId = $this.val();

                        if (teamId) {
                            if (teamAppsCache[teamId] === undefined) {
                                const param = "?team_id=" + teamId + "&competition_id=" + {{ original.competition.id }};

                                await $.getJSON("/league/get-players-competition/" + param, function (data) {
                                    for (let i = 0; i < data.length; i++) {
                                        options += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                                    }
                                    teamAppsCache[teamId] = options;
                                });
                            }

                            $playersSelect.html(teamAppsCache[teamId]);
                        } else {
                            $playersSelect.html(options);
                        }
                        $playersSelect.prop("disabled", false);
                    });

                {% else %}
                    {# Создание матча #}

                    // Получение туров
                    const getRounds = async function() {
                        const $idMatchRound = $("#id_match_round");
                        const competitionId = $("#id_competition").val();
                        const roundId = $idMatchRound.val();

                        $idMatchRound.html('<option value="">---------</option>');
                        $idMatchRound.prop("disabled", true);

                        const $idGroup = $("#id_group");
                        $idGroup.html('<option value="">---------</option>');
                        $idGroup.prop("disabled", true);

                        const $idTeam1 = $("#id_team_1");
                        $idTeam1.html('<option value="">---------</option>');
                        $idTeam1.prop("disabled", true);

                        const $idTeam2 = $("#id_team_2");
                        $idTeam2.html('<option value="">---------</option>');
                        $idTeam2.prop("disabled", true);

                        if (competitionId) {
                            await $.getJSON("/league/get-rounds/" + competitionId, function (data) {
                                let options = '<option value="">---------</option>';
                                for (let i = 0; i < data.length; i++) {
                                    options += '<option value="' + data[i].id + '">' + data[i].title + '</option>';
                                }

                                $idMatchRound.html(options);
                                $idMatchRound.prop("disabled", false);

                                if (roundId) {
                                    $idMatchRound.val(roundId)
                                }
                            });
                        }
                    }

                    // Получение групп
                    const getGroups = async function() {
                        const $idGroup = $("#id_group");
                        const groupId = $idGroup.val();
                        const competitionId = $("#id_competition").val();

                        $idGroup.html('<option value="">---------</option>');
                        $idGroup.prop("disabled", true);

                        if (competitionId) {
                            await $.getJSON("/league/get-groups/" + competitionId, function (data) {
                                let options = '<option value="">---------</option>';
                                for (let i = 0; i < data.length; i++) {
                                    options += '<option value="' + data[i].id + '">' + data[i].title + '</option>';
                                }

                                $idGroup.html(options);
                                $idGroup.prop("disabled", false);

                                if (groupId) {
                                    $idGroup.val(groupId)
                                }
                            });
                        }
                    }

                    // Получение комманд
                    const getTeams = async function() {
                        const competitionId = $("#id_competition").val();
                        const groupId = $("#id_group").val();
                        const $idTeam1 = $("#id_team_1");
                        const $idTeam2 = $("#id_team_2");
                        const idTeam1Value = $idTeam1.val();
                        const idTeam2Value = $idTeam2.val();
                        let param = "";

                        if (groupId) {
                            param = "?group_id=" + groupId;
                        } else if (competitionId) {
                            param = "?competition_id=" + competitionId;
                        }

                        let options = '<option value="">---------</option>';
                        if (param) {
                            $idTeam1.prop("disabled", true);
                            $idTeam2.prop("disabled", true);
                            await $.getJSON("/league/get-teams/" + param, function (data) {
                                for (let i = 0; i < data.length; i++) {
                                    options += '<option value="' + data[i].id + '">' + data[i].title + '</option>';
                                }

                                $idTeam1.html(options);
                                $idTeam1.prop("disabled", false);
                                $idTeam1.val(idTeam1Value);

                                $idTeam2.html(options);
                                $idTeam2.prop("disabled", false);
                                $idTeam2.val(idTeam2Value);

                                // Обновить списки команд в блоке "События в матче"
                                $.each($(".field-team select"), function (key, obj) {
                                    const $teamSelect = $(obj);
                                    $teamSelect.prop("disabled", "disabled");

                                    // Текущее значение поля команды
                                    const teamSelectVal = $teamSelect.val();

                                    $teamSelect.html(options);
                                    $teamSelect.val(teamSelectVal);
                                    $teamSelect.prop("disabled", false);
                                });
                            });
                        } else {
                            $idTeam1.html(options);
                            $idTeam2.html(options);
                        }
                    }

                    // Обработчик события изменения значения соревнования
                    $(document).on('change', "#id_competition", async function () {
                        await getRounds();
                        await getGroups();
                        await getTeams();
                    });

                    // Обработчик события изменения значения группы
                    $(document).on('change', "#id_group", function () {
                        getTeams();
                    });

                    // Начальная инициализация списков
                    (async function() {
                        await getRounds();
                        await getGroups();
                        await getTeams();
                    })();
                {% endif %}
            });
        </script>
    {% endif %}
{% endblock %}