{% load thumbnail %}

<div class="row">

    <div class="col-lg-6">
        <h3 class="h5 g-mb-20 g-color-black g-font-weight-600">Желтые карточки <span class="u-label g-bg-yellow g-mr-10">&nbsp;</span></h3>

        {% if yellow_cards|length > 0 %}
            <!-- Basic Table -->
            <div class="table-responsive g-mb-30">
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center">ФИО игрока</th>
                        <th class="text-center">Команда</th>
                        <th class="text-center">Количество</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for player in yellow_cards %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a class="g-color-blue-dark-v1"
                                   href="{% url 'player_detail' pk=player.player__pk %}">{{ player.player__name }}</a>
                            </td>
                            <td>
                                {% if player.team__logo %}
                                    <a href="{% url 'team_detail' pk=player.team__pk %}"><img
                                            src="{{ player.team__logo|thumbnail_url:'team_extra_small' }}"
                                            alt="{{ player.team__title }}"></a>
                                {% else %}
                                    <a href="{% url 'team_detail' pk=player.team__pk %}"><img src="//via.placeholder.com/18?text=No+image"
                                                     alt=""></a>
                                {% endif %}
                                <a href="{% url 'team_detail' pk=player.team__pk %}">{{ player.team__title }}</a>
                            <td class="g-font-weight-600 text-center">
                                {{ player.num_yellow_cards }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- End Basic Table -->
        {% else %}
            <p>Нет данных.</p>
        {% endif %}
    </div>

    <div class="col-lg-6">
        <h3 class="h5 g-mb-20 g-color-black g-font-weight-600">Красные карточки <span class="u-label g-bg-red-opacity-0_8 g-mr-10">&nbsp;</span></h3>

        {% if red_cards|length > 0 %}
            <!-- Basic Table -->
            <div class="table-responsive g-mb-30 table-sm">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="text-center">ФИО игрока</th>
                        <th class="text-center">Команда</th>
                        <th class="text-center">Количество</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for player in red_cards %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a class="g-color-blue-dark-v1"
                                   href="{% url 'player_detail' pk=player.player__pk %}">{{ player.player__name }}</a>
                            </td>
                            <td>
                                {% if player.team__logo %}
                                    <a href="{% url 'team_detail' pk=player.team__pk %}"><img
                                            src="{{ player.team__logo|thumbnail_url:'team_extra_small' }}"
                                            alt="{{ player.team__title }}"></a>
                                {% else %}
                                    <a href="{% url 'team_detail' pk=player.team__pk %}"><img src="//via.placeholder.com/18?text=No+image"
                                                     alt=""></a>
                                {% endif %}
                                <a href="{% url 'team_detail' pk=player.team__pk %}">{{ player.team__title }}</a>
                            </td>
                            <td class="g-font-weight-600 text-center">
                                {{ player.num_red_cards }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- End Basic Table -->
        {% else %}
            <p>Нет данных.</p>
        {% endif %}
    </div>
</div>