{% load staticfiles %}
{% load compress %}
{% load home_extras %}
{% load project_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    {% analytics_code %}
    <!-- Title -->
    <title>{% block title %}Аланская футбольная лига{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{% block description %}{% endblock %}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">

    <!-- Google Fonts -->
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">

    {% compress css %}
        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/offcanvas.css' %}">

        <link rel="stylesheet" href="{% static 'assets/vendor/animate.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/icon-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/icon-hs/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/icon-line-pro/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/icon-line/css/simple-line-icons.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/icon-etlinefont/style.css' %}">

        <link rel="stylesheet" href="{% static 'assets/vendor/hamburgers/hamburgers.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
        <link rel="stylesheet"
              href="{% static 'assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/fancybox/jquery.fancybox.min.css' %}">

        <!-- CSS Unify -->
        <link rel="stylesheet" href="{% static 'assets/css/unify-core.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/unify-components.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/unify-globals.css' %}">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    {% endcompress %}
</head>

<body>
<main>
    <!-- Header -->
    {% include '_partial/header.html' %}
    <!-- End Header -->

    {% if request.resolver_match.url_name == 'home' %}
        <!-- Carousel -->
        {% include '_partial/carousel.html' %}
        <!-- End Carousel -->
    {% endif %}

    {% block breadcrumbs %}
    {% endblock %}

    <div class="container mt-3">
        <div class="row">
            {% if not request.resolver_match.url_name|in_list:'tournaments_list,tournament_detail,team_detail,player_detail,match_detail' %}
            <div class="col-lg-9">
            {% else %}
            <div class="col-lg-12">
            {% endif %}
                <div class="row">
                    {% block content %}
                        <p>Содержимое страницы</p>
                    {% endblock %}
                </div>
            </div>
            {% if not request.resolver_match.url_name|in_list:'tournaments_list,tournament_detail,team_detail,player_detail,match_detail' %}
                <div class="col-lg-3">
                    <div class="row">
                        <!-- Tournament table -->
                        <div class="col-lg-12" id="tournament_table">
                            {% table_widget %}
                        </div>
                        <!-- End Tournament table -->

                        {% banner pk=2 as banner_2 %}
                        {% if banner_2 %}
                            <!-- Banner -->
                            <div class="col-lg-12 g-mb-30" id="banner_2">
                                {% if banner_2.link %}
                                    <a href="{{ banner_2.link }}" target="_blank"><img src="{{ banner_2.image.url }}"
                                                                                       class="img-fluid" alt=""></a>
                                {% else %}
                                    <img src="{{ banner_2.image.url }}" class="img-fluid" alt="">
                                {% endif %}
                            </div>
                            <!-- End Banner -->
                        {% endif %}

                        <!-- Bombardiers -->
                        <div class="col-lg-12" id="bombardiers">
                            {% bombardiers_widget %}
                        </div>
                        <!-- End Bombardiers -->

                        <!-- Assistants -->
                        {% assistants_widget %}
                        <!-- End Assistants -->

                        <!-- Penalties -->
                        <div class="col-lg-12" id="penalties">
                            {% penalties_widget %}
                        </div>
                        <!-- End Penalties -->

                        {% person_widget %}

                        {% banner pk=3 as banner_3 %}
                        {% if banner_3 %}
                            <!-- Banner -->
                            <div class="col-lg-12 g-mb-50" id="banner_2">
                                {% if banner_3.link %}
                                    <a href="{{ banner_3.link }}" target="_blank"><img src="{{ banner_3.image.url }}"
                                                                                       class="img-fluid" alt=""></a>
                                {% else %}
                                    <img src="{{ banner_3.image.url }}" class="img-fluid" alt="">
                                {% endif %}
                            </div>
                            <!-- End Banner -->
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Footer -->
    {% my_footer %}
    <!-- End Footer -->

    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{"bottom": 15,"right": 15}'
       data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn"><i
            class="hs-icon hs-icon-arrow-top"></i></a>
</main>

{% compress js %}
    <!-- JS Global Compulsory -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'assets/vendor/jquery.easing/js/jquery.easing.js' %}"></script>
    <script src="{% static 'assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/offcanvas.js' %}"></script>
    <script src="{% static 'assets/vendor/youtube/youtube.js' %}"></script>
    <script src="{% static 'assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <!-- JS Unify -->
    <script src="{% static 'assets/js/hs.core.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.header.js' %}"></script>
    <script src="{% static 'assets/js/helpers/hs.hamburgers.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.popup.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.go-to.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/components/hs.tabs.js' %}"></script>
    <script src="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
    <script src="{% static 'assets/vendor/fancybox/jquery.fancybox.min.js' %}"></script>

    <!-- JS Custom -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
            $.HSCore.components.HSTabs.init('[role="tablist"]');
            // initialization of HSScrollBar component
            $.HSCore.components.HSScrollBar.init($('.matches'), {'theme': 'rounded-dark'});
            $.HSCore.components.HSPopup.init('.js-fancybox');
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
{% endcompress %}

{% block extra_scripts %}{% endblock %}
</body>

</html>
