{% extends 'league/base.html' %}

{% load thumbnail %}
{% load static %}
{% load project_tags %}

{% block title %}Футбольная команда {{ team.title }} {{ team.city|default_if_none:"" }}/ {{ block.super }}{% endblock %}
{% block description %}Страница футбольной команды {{ team.title }} {{ team.city|default_if_none:"" }}. Описание команды, текущий состав игроков.{% endblock %}

{% block breadcrumbs %}
    {% include 'league/teams/_partial/breadcrumbs.html' %}
{% endblock %}

{% block content %}
    <div class="col-lg-12 d-flex align-items-center">
        <div>
            {% if team.logo %}
                <img src="{{ team.logo|thumbnail_url:'team_large' }}" alt="" class="img-fluid img-thumbnail">
            {% else %}
                <img class="img-fluid" src="//via.placeholder.com/300?text=No+image" alt="">
            {% endif %}
        </div>
        <div class="g-font-weight-600 g-font-size-18 g-pl-15">{{ team.title }} {{ team.city|default_if_none:"" }}</div>
    </div>

    {% if team.description %}
        <div class="col-lg-12 g-my-20">
            {{ team.description|safe }}
        </div>
    {% endif %}

    <div class="col-lg-12 g-mt-30">
        <h2 class="h3">Текущий состав</h2>

        {% include 'league/teams/_partial/competitions_navs.html' %}

        {% include 'league/teams/_partial/competitions_application.html' %}


    </div>

    <div class="col-lg-12">
        {% comments_widget identifier='teams' identifier_id=team.pk %}
    </div>
{% endblock %}