{% load thumbnail %}
{% load league_extras %}

<div class="col-4">
    <div class="row">
        <div class="col-12 col-sm-6">
            {% if match.team_1.logo %}
                <a href="{% url 'team_detail' pk=match.team_1.pk %}"><img class="img-fluid img-thumbnail"
                                                                          src="{{ match.team_1.logo|thumbnail_url:'team_large' }}"
                                                                          alt=""></a>
            {% else %}
                <a href="{% url 'team_detail' pk=match.team_1.pk %}"><img class="img-fluid img-thumbnail"
                                                                          src="//via.placeholder.com/130?text=No+image"
                                                                          alt=""></a>
            {% endif %}
        </div>

        <div class="col-12 col-sm-6 g-mt-5 g-mt-0--sm g-font-weight-600">
            <a class="g-font-size-18 g-font-size-24--md"
               href="{% url 'team_detail' pk=match.team_1.pk %}">{{ match.team_1.title }}</a><br>
            <span class="g-font-size-13">{{ match.team_1.city }}</span>
        </div>
    </div>
</div>

<div class="col-4 text-center">
    <div class="row">
        <div class="col-12">
            <div class="text-nowrap g-font-size-30 g-font-weight-600 g-line-height-1_3">{{ match.get_goals_team_1 }} : {{ match.get_goals_team_2 }}</div>
            {% if match.is_finished %}<div class="g-mt-minus-5">завершен</div>{% endif %}
            {% if match.is_technical_defeat %}<div class="g-mt-minus-5 g-color-darkred">техническое поражение</div>{% endif %}
        </div>

        <div class="col-12 g-my-10 g-line-height-1_4">
            <div class="g-font-weight-600 g-font-size-16">СК ЛФЛ</div>
            <div class="g-font-weight-600 g-font-size-16">
                <a href="{% url 'competition_main' pk=match.match_round.competition.pk %}">{{ match.match_round.competition }}. {{ match.match_round.title }}</a>
            </div>
            <div class="g-font-size-12 g-mt-3">{{ match.match_date }}</div>
        </div>
    </div>
</div>

<div class="col-4">
    <div class="row">
        <div class="col-12 col-sm-6 g-mt-5 g-mt-0--sm g-font-weight-600 text-right order-2 order-sm-1">
            <a class="g-font-size-18 g-font-size-24--md"
               href="{% url 'team_detail' pk=match.team_2.pk %}">{{ match.team_2.title }}</a><br>
            <span class="g-font-size-13">{{ match.team_2.city }}</span>
        </div>

        <div class="col-12 col-sm-6 order-1 order-sm-2">
            {% if match.team_2.logo %}
                <a href="{% url 'team_detail' pk=match.team_2.pk %}"><img class="img-fluid img-thumbnail"
                                                                          src="{{ match.team_2.logo|thumbnail_url:'team_large' }}"
                                                                          alt=""></a>
            {% else %}
                <a href="{% url 'team_detail' pk=match.team_2.pk %}"><img class="img-fluid img-thumbnail"
                                                                          src="//via.placeholder.com/130?text=No+image"
                                                                          alt=""></a>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-12 d-flex flex-column align-items-md-center g-mt-15 g-mt-0--md">
    {% if match.stadium %}
        <div class="g-line-height-1_4 g-font-size-12">
            Стадион {{ match.stadium.title }}
        </div>
    {% endif %}

    {% if match.main_referee %}
        <div class="g-line-height-1_4 g-font-size-12">
            Главный судья: {{ match.main_referee.name }}
        </div>
    {% endif %}

    {% if match.other_referees.all|length > 0 %}
        <div class="g-line-height-1_4 g-font-size-12">
            Помощники судьи: {% for ref in match.other_referees.all %}{{ ref.name }}{% if not forloop.last %},&nbsp;
        {% endif %}{% endfor %}
        </div>
    {% endif %}

    {% if match.youtube_id %}
        <div class="g-line-height-1_4 g-font-size-13 g-mt-15 g-font-weight-600">
            <a href="//youtu.be/{{ match.youtube_id }}" target="_blank">Трансляция матча</a>
        </div>
    {% endif %}
</div>

{% personal_matches match.team_1_id match.team_2_id %}
