{% load staticfiles %}

<div id="contacts-section" class="g-color-white-opacity-0_8 g-pt-30">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6 g-mb-40">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h5 text-uppercase mb-0">Навигация</h2>
                </div>

                <nav class="text-uppercase1">
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/">Главная</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{% url 'news_list' %}">Новости</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#">Турниры</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6 g-mb-40">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h5 text-uppercase mb-0">{{ footer_data.information_block_title }}</h2>
                </div>

                {{ footer_data.information_block_text|safe }}
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6 g-mb-40">
                <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                    <h2 class="u-heading-v2__title h5 text-uppercase mb-0">Контактная информация</h2>
                </div>

                {{ footer_data.contacts_block_html|safe }}
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6 g-mb-40 g-pr-50">
                <div class="row">
                    <div class="col-3">
                        <a id="fb_link" href="{{ footer_data.facebook_link }}"><img src="{% static 'assets/img/social/fb.jpg' %}" class="img-fluid"
                                                      alt=""></a>
                    </div>
                    <div class="col-3">
                        <a id="vk_link" href="{{ footer_data.vk_link }}"><img src="{% static 'assets/img/social/vk.jpg' %}" class="img-fluid"
                                                      alt=""></a>
                    </div>
                    <div class="col-3">
                        <a id="twitter_link" href="{{ footer_data.twitter_link }}"><img src="{% static 'assets/img/social/twitter.jpg' %}"
                                                           class="img-fluid"
                                                           alt=""></a>
                    </div>
                    <div class="col-3">
                        <a id="google_link" href="{{ footer_data.google_link }}"><img src="{% static 'assets/img/social/google.jpg' %}"
                                                          class="img-fluid" alt=""></a>
                    </div>
                </div>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6 g-mb-40 g-pr-50">
                <a href="#"><img src="{% static 'assets/img/banners/4.jpg' %}" class="img-fluid" alt="" id="banner_4"></a>
            </div>
            <!-- End Footer Content -->

            <!-- Footer Content -->
            <div class="col-lg-4 col-md-6 g-mb-40 text-muted g-font-size-13">
                {{ footer_data.copyrights_block_html|safe }}
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</div>
<!-- End Footer -->