<h2 class="text-uppercase h3">Бомбардиры</h2>
<hr class="g-mt-0 g-mb-1 g-brd-black-top u-mb-025">

{% if bombardiers_penalties and bombardiers_penalties.tournament and bombardiers_penalties.tournament.get_bombardiers.count > 0 %}
<table class="table table-sm g-font-size-16 table-bombardiers">
    <tbody>
    {% for player in bombardiers_penalties.tournament.get_bombardiers %}
        <tr>
            <td class="g-pt-10"><a href="{% url 'player_detail' pk=player.pk %}">{{ player }}</a></td>
            <td class="g-pt-10">{{ player.num_goals }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Нет данных.</p>
{% endif %}