<h2 class="text-uppercase h3">Штрафники</h2>
<hr class="g-mt-0 g-mb-1 g-brd-black-top u-mb-025">

<table class="table table-sm g-font-size-16 table-bombardiers">
    <tbody>
    <tr>
        <td class="g-pt-10"><a href="#">Мозговой Антон</a></td>
        <td class="g-pt-10">55</td>
    </tr>
    <tr>
        <td class="g-pt-10"><a href="#">Антоха</a></td>
        <td class="g-pt-10">44</td>
    </tr>
    <tr>
        <td class="g-pt-10"><a href="#">Другой Антоха</a></td>
        <td class="g-pt-10">33</td>
    </tr>
    </tbody>
</table>