{% load thumbnail %}

<h2 class="text-uppercase h3">Штрафники</h2>
<hr class="g-mt-0 g-mb-1 g-brd-black-top u-mb-025">

{% if bombardiers_penalties and bombardiers_penalties.tournament %}
    <!-- Nav tabs -->
    <ul class="nav justify-content-center u-nav-v1-1 u-nav-rounded-3" role="tablist"
        data-target="nav-1-1-primary-hor-center" data-tabs-mobile-type="slide-up-down"
        data-btn-classes="btn btn-md btn-block u-btn-outline-primary g-mb-20">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#nav-1-1-primary-hor-center--1" role="tab"><abbr
                    title="Жёлтые карточки">ЖК</abbr></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nav-1-1-primary-hor-center--2" role="tab"><abbr
                    title="Красные карточки">КК</abbr></a>
        </li>
    </ul>
    <!-- End Nav tabs -->

    <!-- Tab panes -->
    <div id="nav-1-1-primary-hor-center" class="tab-content">
        <div class="tab-pane fade show active" id="nav-1-1-primary-hor-center--1" role="tabpanel">
            {% if bombardiers_penalties.tournament.get_yellow_cards.count > 0 %}
                <table class="table table-sm g-font-size-16 table-bombardiers">
                    <tbody>
                    {% for player in bombardiers_penalties.tournament.get_yellow_cards|slice:":3" %}
                        <tr>
                            <td class="g-py-5" width="15%">
                                <a href="{% url 'player_detail' pk=player.pk %}">
                                    {% if player.photo %}
                                        <img src="{{ player.photo|thumbnail_url:'avatar_extra_small' }}"
                                             class="img-fluid"
                                             alt="{{ player.name }}"
                                             title="{{ player.name }}">
                                    {% else %}
                                        <img src="http://via.placeholder.com/25" class="img-fluid"
                                             alt="Фото отсутствует">
                                    {% endif %}
                                </a>
                            </td>
                            <td class="g-py-7"><a href="{% url 'player_detail' pk=player.pk %}">{{ player }}</a></td>
                            <td class="g-py-7">{{ player.num_yellow_cards }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Нет данных.</p>
            {% endif %}
        </div>

        <div class="tab-pane fade" id="nav-1-1-primary-hor-center--2" role="tabpanel">
            {% if bombardiers_penalties.tournament.get_red_cards.count > 0 %}
                <table class="table table-sm g-font-size-16 table-bombardiers">
                    <tbody>
                    {% for player in bombardiers_penalties.tournament.get_red_cards|slice:":3" %}
                        <tr>
                            <td class="g-py-5" width="15%">
                                <a href="{% url 'player_detail' pk=player.pk %}">
                                    {% if player.photo %}
                                        <img src="{{ player.photo|thumbnail_url:'avatar_extra_small' }}"
                                             class="img-fluid"
                                             alt="{{ player.name }}"
                                             title="{{ player.name }}">
                                    {% else %}
                                        <img src="http://via.placeholder.com/25?text=No+Photo" class="img-fluid"
                                             alt="Фото отсутствует">
                                    {% endif %}
                                </a>
                            </td>
                            <td class="g-py-5"><a href="{% url 'player_detail' pk=player.pk %}">{{ player }}</a></td>
                            <td class="g-py-5">{{ player.num_red_cards }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Нет данных.</p>
            {% endif %}
        </div>
    </div>
    <!-- End Tab panes -->
{% else %}
    <p>Нет данных.</p>
{% endif %}