<h2 class="text-uppercase h3">Таблица АФЛ</h2>
<hr class="g-mt-0 g-mb-1 g-brd-black-top u-mb-025">

<table class="table table-sm table-afl">
    <tbody>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    <tr>
        <td><a href="#">Команда</a></td>
        <td>10</td>
        <td>9</td>
        <td>1</td>
        <td>0</td>
        <td>31-14</td>
        <td>28</td>
    </tr>
    </tbody>
</table>